---
---

@import "{{ site.theme }}";
html { font-size: 18px; }

body {
  font-size: 1rem;     /* = 18px now */
  line-height: 1.4;
  font-family: "EB Garamond", Garamond, serif;
}
a {
	color: #ff5400;
}

a:hover, a:focus {
	color: gold;
	font-weight: normal;
}
img[alt="Logo"] {
  width: 225px;     /* adjust as desired */
  height: auto;     /* keeps proportions */
}

ul {
	line-height: 1.4;
}

mark {
  background-color: #fff2ae;  /* choose your color */
  padding: 0 0.15em;
  border-radius: 0.2em;
}


section {
	width: 575px;
}